.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item{
    font-size:13px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-img{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    z-index: 30;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    max-width: 584px;
    margin-top: 30px;
}

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.button:hover {
    background-color: #f8f9fa;
    border: 2px solid rgb(182, 181, 181);
}

.heading {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.heading2 {
    font-size: 16px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

.h-adv {
    margin: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.label {
    width: 200px;
}

.text{
    width: 385px;
}

.form-control{
    width: 385px;
}

.adv-button{
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 4px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;

}

.adv-button:hover{
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}

.btn-div{
    display: flex;
    justify-content: flex-end;
    width: 680px;
    margin-top: 15px;
}

.col-form-label{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}